books.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Books">
<xs:complexType>
<xs:sequence>

<xs:element name="Book" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="Title" type="xs:string"/>
<xs:element name="Author" type="xs:string"/>
<xs:element name="ISBN" type="xs:string"/>
<xs:element name="Publisher" type="xs:string"/>
<xs:element name="Edition" type="xs:int"/>
<xs:element name="Price" type="xs:float"/>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>
