employees.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Employees">
<xs:complexType>
<xs:sequence>

<xs:element name="Employee" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="EmpID" type="xs:int"/>
<xs:element name="EmpName" type="xs:string"/>
<xs:element name="Department" type="xs:string"/>
<xs:element name="Salary" type="xs:float"/>
<xs:element name="Email" type="xs:string"/>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>
