students.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Students">
<xs:complexType>
<xs:sequence>

<xs:element name="Student" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>

<xs:element name="SID" type="xs:int"/>
<xs:element name="SName" type="xs:string"/>
<xs:element name="Age" type="xs:int"/>
<xs:element name="Address" type="xs:string"/>
<xs:element name="DOB" type="xs:date"/>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>
